body{
background-color: #5D5E60
}

#lista-temas, #agregar-tema, #preguntas{
background-color: #ddd;
width: 900px;
margin: 50px auto;
padding: 20px;

}

#lista-temas #lista li{
    padding: 3px;
    margin: 2px;
    list-style: none;
    border: 1px solid #aaa;
    list-style-image: url('../img/flecha.gif');
}


#header{
    text-align: right;
}

#container{
    width: 900px;

}
.item {

}


.c1{
    width:280px;
}
.c2{
    width:580px;
}
.c3{
    width:880px;
}

.v1{

}
.v2{
    width:560px;
    height: 315px;
}

.v3{
    width:860px;
    height: 615px;
}

.img1{
   width:280px;
}
.img2{
   width:580px;
}
.img3{
   width:880px;
}
.controles {

}



#picker {
        margin:0;
        padding:0;
        border:1 solid black;
        width:70px;
        height:20px;
        border-right:20px solid black;
        background-color: #ccc;
}



.top{
vertical-align: top;
}

.controles table{
    width: 100%;
}

.control{
    margin:auto;
    text-align: center;
    background-color:#00AEEF;
}

.control a{
    text-decoration:none;
}


.tema{
    padding: 10px 5px;
}
.item {
  margin-bottom: 5px;
}


.boton{
    padding: 20px;
    background-color : #ccc;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    cursor: pointer;
}


.forma_error{
    color: #FE2E2E;
}

#forma_email .forma_error{
    display :block;
}

#contenido_tema {
    width: 850px;
    background-color: white;
    padding: 20px 40px;
    margin: 20px auto;
}

#contenido_tema .botonera{
    text-align:right
}

.temacontenido a{
 text-decoration: none;
}


.control{
    cursor: pointer;
}


.barra_izquierda{
    background-color: white;
}

.pregunta{
    padding-top: 10px;
    font-weight: bold;
}
